<a href="https://colab.research.google.com/github/BrandonHill0927/Intro_To_Python/blob/main/SupplementalCodingSetTemplate.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Supplemental Coding Set

**Remember to save a copy of this template BEFORE YOU START WORKING :)**

Work completed by [Brandon Hill]

IMPORTANT: Remember to screen record ALL of your work on at least one operation performed on your dataset. You must turn off the generative AI code-completion for this operation, as this problem is preparation for our final exam practical. You can turn off generative AI code-completion within Colab by tapping/clicking the settings icon in the upper right, tapping/clicking the AI Assistance section, and then deselecting "Consented to use generative AI features" and selecting "Hide generative AI features" (these settings may be returned to their previous states once you've completed this problem).

If you start to struggle with a problem for an extended period of time, remember you can go comment on two other submissions now (seeing other student work helps), or you can post in our discussion forum for questions, which can also earn you extra credit.

## Imports

**If your program requires additional modules, external resources, or files, use this cell to set them up**

In [ ]:
# configure your environment

# you can uncomment this code to make use of files stored in your Google Drive
# from google.colab import drive
# drive.mount('/content/drive')

## Pandas Operations

Please import your dataset into a Pandas Dataframe in the cell below. Please remember to display the top 10 rows of your dataset so students can easily get a sense for the dataset you chose to explore.

You may perform additional operations on your dataset that were covered in our slides to explore a bit, though this is optional.

In [ ]:
# I had to install pandas to be able to import to the cell
%pip install pandas
# here is where I imported pandas after having to install it 
import pandas as pd
# I then add in my dataset 
url = "https://raw.githubusercontent.com/mwaskom/seaborn-data/master/tips.csv"
# This is where I load in the csv file into the pandas 
df = pd.read_csv(url)
# loads in 10 rows from the data set 
df.head(11)
# remember to display the top 10 rows of your dataset once you have it imported

Requirement already satisfied: pandas in c:\users\user\documents\github\intro_to_python\.venv\lib\site-packages (2.3.3)
Requirement already satisfied: numpy>=1.23.2 in c:\users\user\documents\github\intro_to_python\.venv\lib\site-packages (from pandas) (2.3.5)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\user\documents\github\intro_to_python\.venv\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\user\documents\github\intro_to_python\.venv\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\user\documents\github\intro_to_python\.venv\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\user\documents\github\intro_to_python\.venv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

    total_bill   tip     sex smoker  day    time  size
0        16.99  1.01  Female     No  Sun  Dinner     2
1        10.34  1.66    Male     No  Sun  Dinner     3
2        21.01  3.50    Male     No  Sun  Dinner     3
3        23.68  3.31    Male     No  Sun  Dinner     2
4        24.59  3.61  Female     No  Sun  Dinner     4
5        25.29  4.71    Male     No  Sun  Dinner     4
6         8.77  2.00    Male     No  Sun  Dinner     2
7        26.88  3.12    Male     No  Sun  Dinner     4
8        15.04  1.96    Male     No  Sun  Dinner     2
9        14.78  3.23    Male     No  Sun  Dinner     2
10       10.27  1.71    Male     No  Sun  Dinner     2

### Operation 1

#### Question Text

*Write a brief description of the operation you chose to read about in the documentation and then try using below.*

value_counts(normalize=true) counts how often each unique value appears in a column and then converts those counts into proportiona of the total 

#### High-Level Overview

*In two to three sentences at minimum, walk through your general approach to the problem and identify any particular issues you had.*

This operation started easy and honeslty didnt cause much trouble. I got hung up on the last line of the output, as I know if something isnt right within the print statement you may get unwated things within the output.

In [6]:
# I get the program to count how often each day appears and counverts to proportions 
day_proportions = df["day"].value_counts(normalize=True)
# I then print the output from above 
print(day_proportions)

day
Sat     0.356557
Sun     0.311475
Thur    0.254098
Fri     0.077869
Name: proportion, dtype: float64

### Operation 2

#### Question Text

*Write a brief description of the operation you chose to read about in the documentation and then try using below.*

groupby("day") groups the dataset by dat and calculates the average tip whithin each group

#### High-Level Overview

*In two to three sentences at minimum, walk through your general approach to the problem and identify any particular issues you had.*

Same with this operation however I didnt have troubles while getting it done. I just assignes the function to a constent, then printed the constent to display the ouput from the function.

In [ ]:
# I begin with grouping data by day and then I have the program calculate avg tip for each group
avg_tip_by_day = df.groupby("day")["tip"].mean()
# I then print the output
print(avg_tip_by_day)

day
Fri     2.734737
Sat     2.993103
Sun     3.255132
Thur    2.771452
Name: tip, dtype: float64

### Operation 3

#### Question Text

*Write a brief description of the operation you chose to read about in the documentation and then try using below.*

This operation calculates how each pair of numeric columns are related by calculating their correlation values 

#### High-Level Overview

*In two to three sentences at minimum, walk through your general approach to the problem and identify any particular issues you had.*

I had no issues with this one as well. I began with setting the print constent to the operation, then I use the print funtion to dislpay the output of the operation stored on the constent corr_matrix.

In [ ]:
# I have the program compute correlation values between all numeric columns 
corr_matrix=df.corr(numeric_only=True)
# I then print the output from the statement above 
print(corr_matrix)

            total_bill       tip      size
total_bill    1.000000  0.675734  0.598315
tip           0.675734  1.000000  0.489299
size          0.598315  0.489299  1.000000

## Helpful Checks

1.   Did you comment every line of code with meaningful information that will help others reading your code?
2.   Did you use appropriate names for your variables, functions, and/or classes?
3.   Did you include a high-level explanation for each operation?
4.   Did you run each cell that includes code so the output is saved and easily viewed by others?
5.   Are you sharing an editable link (i.e., Share > Anyone with the link > Editor) if using Colaboratory, or did you make more than ten commits if using GitHub?
6.   Did you remember to comment on the submissions of two other students?
7.   Did you remember to screen record all of your work for at least one operation while turning off the generative AI features?
8.   Did you remember to display the top 10 rows in your dataset so other students can easily view example rows?